.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-layout {
  display: flex;
  flex: 1;
  position: relative;
  z-index: 1;
}

.top-bar,
.footer {
  position: relative;
  z-index: 1;
}

.hero-half {
  width: 50%;
}

.projects-half {
  width: 50%;
}